<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- header -->
    <%- include('components/header') %>

        <ul>
            <% result.forEach((element, i)=> { %>
                <li id="<%= i %>"><a href="/tache/<%= element.id_tache %>">
                        <%= element.description_tache %>
                    </a></li>
                <% }) %>
        </ul>

        <form action="/post" method="post">
            <p>
                <!-- <input type="text" name="tache" id="tache" placeholder="Écrire la tache ici" required /> -->
                <textarea name="tache" id="tache" rows="3" placeholder="Écrire la tache ici..."></textarea>
            </p>
            <p>
                <input type="text" name="categorie" id="" list="categorie" placeholder="ajout à la liste..." />
                <datalist name="categorie" id="categorie">
                    <option selected disabled value="">-- Catégorie --</option>
                    <% categories.forEach((cat)=> { %>
                        <option value="<%= cat %>">
                            <%= cat %>
                        </option>
                        <% }) %>
                </datalist>
            </p>
            <p>
                <input type="submit" value="Envoyer">
            </p>
        </form>

</body>

</html>