<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/main.css" />

</head>

<body>
    <%- include('components/header') %>

        <section>
            <div class="container">
                <article>

                    <% if(tache === false){ %>
                        <div class="no-data">
                            Oops !! Ce lien n'existe plus !!
                        </div>
                        <% } else { %>
                    <p class="description-tache">
                        <%= tache.description_tache %>
                    </p>
                    <p class="details-tache">
                        <span>
                            <%= tache.date_creation_tache.toLocaleDateString() %>
                        </span>
                        <span>
                            <a href="/liste/<%= tache.nom_liste_taches %>">
                                <%= tache.nom_liste_taches %>
                            </a>
                        </span>

                    </p>
                    <p class="parametres-tache">
                        <a class="supprimer" data-liste="<%= tache.nom_liste_taches %>" href="#">
                            supprimer</a>
                        <a class="modifier" href="/edit/<%= tache.id_tache %>">Modifier</a>
                    </p>
                    <% } %>
                </article>

                    <script src="../public/js/deleteTaskConfirm.js"></script>

            </div>
        </section>

</body>

</html>